*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body{
    background-color: #f9eeff;
}

main{
    max-width: 1440px;
    margin: 0 auto;

}

#background{
    background-image: url('imagens/background-pattern-desktop.svg');
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-faq{
    background: #fff;
    width: 600px;
    border-radius: 12px;
    padding: 50px 30px;
    position: relative;
    bottom: 100px;
    margin: 0 auto;
    

}

.card-faq h1{
    display: flex;
    align-items: center;
    color: hsl(292, 42%, 14%);
    font-size: 46px;
   
}

.card-faq h1::before{
    background-image:url('imagens/icon-star.svg');
    padding: 30px;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    margin-right:20px;
}

.faq-list dt{
   color: hsl(292, 42%, 14%);
   margin-top: 2rem;
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
   padding: 5px;
   font-weight: 700;
   
   
}

.faq-list dt::after{
    content: "";
    background-image: url('imagens/icon-plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    
}

.faq-list dt.ativo::after{
    content: "";
    background-image: url('imagens/icon-minus.svg');
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.faq-list dd{
    color: hsl(292, 16%, 49%);
    font-weight: 400;
    font-size: 16px;
    opacity: 0;
    height: 0;
    transition: .4s ease-in-out;
    
    
    

}

.faq-list dd.ativo{
    opacity: 1;
    height: 100%;
    
   
}



