*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background: red;
    max-width: 1440px;
    margin: 0 auto;
}

#background{
    background-image: url('assets/images/background-pattern-desktop.svg');
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#accordion-body{
    background-color: white;
    width: 600px;
    margin: 0 auto;
    position: relative;
    bottom: 100px;
    padding: 30px;
}

.titulo-principal{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
   
}

.titulo-principal h1{
    margin-left: 20px;
    font-family: 'Work Sans', sans-serif;
}



.label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
    
    cursor: pointer;
    color: hsl(292, 42%, 14%);
    font-weight: 700;
}

.content{
    margin-bottom: 20px;
    
    color: hsl(275, 51%, 84%);
    font-weight: bold;
    font-family: 'arial', sans-serif;
    font-size: 16px;
}